
.navbar-container{
    width: 100%;
    height: 2em;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-left{
    margin-right: auto;
    margin-left: 5%;
}
.navbar-right {
    margin-left: auto;
    margin-right: 5%;
}