.track-container{
    display: flex;
    justify-content: left;
    margin-left: 20px;
/*     margin-top: 1em; */
}

.generateButton{
    background-color: lightgreen;
    border-radius: 6px;
    border-color: transparent;
    max-width: 75%;
    align-self: center;
    height: 3em;
    margin-bottom: 1em;

}

.generateButton:hover{
    background-color: greenyellow;
}

.toptracks{
    min-width: 800px;
    max-width: 800px;
/*     min-height: 400px; */
    display: flex;
    flex-direction: column;
}
.toptracks #tracks-list-headertext{
    color: #8C918E
}

.tracks-list{
/*     margin-top: 1em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}