
.landing-container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

.intro-paragraph{
    max-width: 350px;
    font-size: 1.4rem;
    color: #8C918E;
}

body {
    background-color: #101210;
}